<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <img class="logo-img" src="https://res.cloudinary.com/dseoamxml/image/upload/v1666808678/default_transparent_765x625_wc46im.png" alt="Bootstrap" width="60" height="60">
        <div class="logo">
            <a class="navbar-brand" href="#">Gaming store</a> 
            <p class="name-site">site employees</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-links collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="products" class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item add-product-btn">
                    <a routerLink="add" class="nav-link" href="#">Add <i class="bi bi-plus-lg"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>