@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --highlight-color: #7f5af0;
    --tertiary-color: #2cb67d;
    --secondary-color: #72757e;
    --main-color: #fffffe;
    --stroke-color: #010101;

    --bg-color: #16161a;
    --parag-color: #94a1b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--bg-color);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1130px;
    }
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px 13em;
}